In [1]:
# firstly, make download of csv's

import datetime
import urllib.request
import os, errno

current_path = os.getcwd()

# ignores error if directory doesnt exists
try:
    os.makedirs(f'{current_path}/csv/')
except OSError as e:
    if e.errno != errno.EEXIST:
        raise
        
# making download since 2013 for actual date
for year in range(2013, datetime.datetime.now().year + 1):
    if not os.path.exists(f'{current_path}/csv/{year}.zip'):
        url = f'http://www.portaltransparencia.gov.br/download-de-dados/viagens/{year}'
        urllib.request.urlretrieve(url, f'{current_path}/csv/{year}')
        print(f'Downloading for {year} was complete with success.')

Downloading for 2013 was complete with success.
Downloading for 2014 was complete with success.
Downloading for 2015 was complete with success.
Downloading for 2016 was complete with success.
Downloading for 2017 was complete with success.
Downloading for 2018 was complete with success.
Downloading for 2019 was complete with success.

In [ ]:
import zipfile as zp
import os, errno
import datetime as dt

current_path = os.getcwd()

# extract and remove zip file
for year in range(2013, dt.datetime.now().year + 1):
    print(f'unzip {year} file.')
    with zp.ZipFile(f'{current_path}/csv/{year}', 'r') as zip_ref:
        zip_ref.extractall(f'{current_path}/csv/{year}_extract')
        print(f'unzip {year} was successful.')
        os.remove(f'{current_path}/csv/{year}')

In [74]:
import pandas as pd
import os, errno
import numpy as np

current_path = os.getcwd()
pagamento = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1") 
# passagem = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Passagem.csv', sep=';', encoding = "ISO-8859-1")
pg_array = {}
pg_columns = ['Identificador de viagem', 'Codigo Orgão']

for row in pagamento:
    identificador = pagamento['Identificador do processo de viagem']
    codigo_orgao  = pagamento['Código do órgão superior']
    pg_array = {'id': identificador, 'cod': codigo_orgao}
    
df = pd.DataFrame(pg_array)
df

                 id    cod
0          10011585     -1
1          10011585     -1
2          10011586     -1
3          10011586     -1
4          10011586     -1
5          10011588     -1
6          10011588     -1
7          10011588     -1
8          10011588     -1
9          10011589     -1
10         10011589     -1
11         10011589     -1
12         10011589     -1
13         10011589     -1
14         10011589     -1
15         10011589     -1
16         10011589     -1
17         10011590     -1
18         10011590     -1
19         10011590     -1
20         10011590     -1
21         10011590     -1
22         10011590     -1
23         10011591     -1
24         10011591     -1
25         10011591     -1
26         10011591     -1
27         10011591     -1
28         10011591     -1
29         10011592     -1
...             ...    ...
2039544  2014005923  25000
2039545  2014005931  25000
2039546  2014005931  25000
2039547  2014005932  25000
2039548  2014005933  25000
2039549  2014005933  25000
2039550  2014005940  25000
2039551  2014005940  25000
2039552  2014005944  25000
2039553  2014005944  25000
2039554  2014005945  25000
2039555  2014005945  25000
2039556  2014005946  25000
2039557  2014005946  25000
2039558  2014005946  25000
2039559  2014005947  25000
2039560  2014005947  25000
2039561  2014005947  25000
2039562  2014005951  25000
2039563  2014005951  25000
2039564  2014005952  25000
2039565  2014005952  25000
2039566  2014005953  25000
2039567  2014005953  25000
2039568  2014005954     -1
2039569  2014005954     -1
2039570  2014005962  25000
2039571  2014005962  25000
2039572  2014005996  25000
2039573  2014005996  25000

[2039574 rows x 2 columns]

In [ ]:
import pandas as pd
import os, errno
import matplotlib.pyplot as plt
import numpy as np

current_path = os.getcwd()

csv = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Passagem.csv', sep=';', encoding = "ISO-8859-1")
ticket_prices = csv['Valor da passagem']
# csv[['Meio de transporte', 'UF - Origem ida', 'Cidade - Origem ida', 'Cidade - Destino volta', 'Valor da passagem']]

# media do valor das viagens
total_tickets = 0.0
for ticket in ticket_prices:
    total_tickets += float(ticket.replace(',', '.'))
    
print(f'total de gastos para o ano de 2014: ' + str(round(total_tickets, 2)))

data = {}
# grafico de barras que indica os 10 maiores gastos em viagens
for i in np.array(csv[['UF - Origem ida', 'Valor da passagem']][:10]):
    data[i[0]] = float(i[1].replace(',','.'))

plt.bar(data.keys(), data.values())