In [1]:
# firstly, make download of csv's

import datetime
import urllib.request
import os, errno

current_path = os.getcwd()

# ignores error if directory doesnt exists
try:
    os.makedirs(f'{current_path}/csv/')
except OSError as e:
    if e.errno != errno.EEXIST:
        raise
        
# making download since 2013 for actual date
for year in range(2013, datetime.datetime.now().year + 1):
    if not os.path.exists(f'{current_path}/csv/{year}.zip'):
        url = f'http://www.portaltransparencia.gov.br/download-de-dados/viagens/{year}'
        urllib.request.urlretrieve(url, f'{current_path}/csv/{year}')
        print(f'Downloading for {year} was complete with success.')

Downloading for 2013 was complete with success.
Downloading for 2014 was complete with success.
Downloading for 2015 was complete with success.
Downloading for 2016 was complete with success.
Downloading for 2017 was complete with success.
Downloading for 2018 was complete with success.
Downloading for 2019 was complete with success.

In [1]:
import zipfile as zp
import os, errno
import datetime as dt

current_path = os.getcwd()

# extract and remove zip file
for year in range(2013, dt.datetime.now().year + 1):
    print(f'unzip {year} file.')
    with zp.ZipFile(f'{current_path}/csv/{year}', 'r') as zip_ref:
        zip_ref.extractall(f'{current_path}/csv/{year}_extract')
        print(f'unzip {year} was successful.')
        os.remove(f'{current_path}/csv/{year}')

unzip 2013 file.
unzip 2013 was successful.
unzip 2014 file.
unzip 2014 was successful.
unzip 2015 file.
unzip 2015 was successful.
unzip 2016 file.
unzip 2016 was successful.
unzip 2017 file.
unzip 2017 was successful.
unzip 2018 file.
unzip 2018 was successful.
unzip 2019 file.
unzip 2019 was successful.

In [3]:
import pandas as pd
import os, errno
import numpy as np
from IPython.core.debugger import set_trace

current_path = os.getcwd()
passagem = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Passagem.csv', sep=';', encoding = "ISO-8859-1")

# passagem[["Identificador do processo de viagem", "Meio de transporte"]].head()
pagamento.head()
passagem.head()

,Identificador do processo de viagem,Meio de transporte,País - Origem ida,UF - Origem ida,Cidade - Origem ida,País - Destino ida,UF - Destino ida,Cidade - Destino ida,País - Origem volta,UF - Origem volta,Cidade - Origem volta,Pais - Destino volta,UF - Destino volta,Cidade - Destino volta,Valor da passagem,Taxa de serviço
0,10011602,Aéreo,Brasil,Distrito Federal,Brasília,Brasil,Rio de Janeiro,Rio de Janeiro,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"570,45",",00"
1,10011602,Aéreo,Brasil,Rio de Janeiro,Rio de Janeiro,Brasil,Distrito Federal,Brasília,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"602,47",",00"
2,10011617,Aéreo,Brasil,Rio de Janeiro,Rio de Janeiro,Brasil,São Paulo,Presidente Prudente,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"941,47",",00"
3,10011617,Aéreo,Brasil,São Paulo,Presidente Prudente,Brasil,Rio de Janeiro,Rio de Janeiro,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"980,94",",00"
4,10011618,Aéreo,Brasil,Pará,Belém,Brasil,Distrito Federal,Brasília,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"885,57",",00"

In [15]:
# group by 'meio de transporte'
import pandas as pd
import os, errno
import numpy as np
from IPython.core.debugger import set_trace

pd.options.display.float_format = '${:,.2f}'.format

current_path   = os.getcwd()
tickets        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Passagem.csv', sep=';', encoding = "ISO-8859-1")
format_tickets = []

for ticket in tickets["Valor da passagem"]:
    format_tickets.append(pd.to_numeric(ticket.replace(",",".")))

tickets["Valor da passagem"] = format_tickets
tickets.groupby("Meio de transporte").sum()["Valor da passagem"]

Meio de transporte
Aéreo             $466,776,388.81
Ferroviário            $13,957.74
Fluvial               $683,018.61
Marítimo                $1,590.00
Rodoviário          $3,626,442.55
Veículo Oficial         $3,462.44
Veículo Próprio         $1,330.74
Name: Valor da passagem, dtype: float64

In [16]:
# group by 'UF - Destino ida'
import pandas as pd
import os, errno
import numpy as np
from IPython.core.debugger import set_trace

pd.options.display.float_format = '${:,.2f}'.format

current_path   = os.getcwd()
tickets        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Passagem.csv', sep=';', encoding = "ISO-8859-1")
format_tickets = []

for ticket in tickets["Valor da passagem"]:
    format_tickets.append(pd.to_numeric(ticket.replace(",",".")))

tickets["Valor da passagem"] = format_tickets
tickets.groupby("UF - Origem ida").sum()["Valor da passagem"]

UF - Origem ida
Tocantins               $3,016,433.82
Amapá                   $3,532,870.69
Sergipe                 $3,893,304.85
Roraima                 $4,179,151.17
Piauí                   $4,323,869.74
Alagoas                 $4,701,644.81
Mato Grosso do Sul      $5,133,465.76
Goiás                   $5,352,333.68
Acre                    $5,978,807.56
Rondônia                $6,120,454.12
Maranhão                $6,394,818.40
Espírito Santo          $7,045,567.90
Mato Grosso             $7,280,988.96
Paraíba                 $7,344,419.25
Rio Grande do Norte     $8,156,849.75
Santa Catarina         $11,462,518.29
Bahia                  $13,223,823.25
Ceará                  $13,977,407.37
Pernambuco             $14,772,285.58
Amazonas               $16,728,619.41
Minas Gerais           $17,146,989.11
Paraná                 $17,466,237.39
Pará                   $19,235,346.07
Rio Grande do Sul      $21,789,779.19
Rio de Janeiro         $38,815,521.53
São Paulo              $43,955,965.53
Distrito Federal      $126,501,795.05
Name: Valor da passagem, dtype: float64

In [17]:
# group by 'UF - Destino ida'
import pandas as pd
import os, errno
import numpy as np
from IPython.core.debugger import set_trace

pd.options.display.float_format = '${:,.2f}'.format

current_path   = os.getcwd()
tickets        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Passagem.csv', sep=';', encoding = "ISO-8859-1")
format_tickets = []

for ticket in tickets["Valor da passagem"]:
    format_tickets.append(pd.to_numeric(ticket.replace(",",".")))

tickets["Valor da passagem"] = format_tickets
tickets.groupby("UF - Destino ida").sum()["Valor da passagem"]

UF - Destino ida
Acre                    $5,563,990.68
Alagoas                 $4,374,586.73
Amapá                   $3,414,755.41
Amazonas               $16,958,472.50
Bahia                  $13,420,903.07
Ceará                  $13,857,527.93
Distrito Federal      $124,374,721.02
Espírito Santo          $7,750,035.83
Goiás                   $5,266,395.90
Maranhão                $6,502,080.28
Mato Grosso             $7,270,058.14
Mato Grosso do Sul      $4,940,667.93
Minas Gerais           $17,213,957.49
Paraná                 $17,686,929.09
Paraíba                 $7,457,499.67
Pará                   $19,105,887.81
Pernambuco             $14,556,422.10
Piauí                   $4,228,746.90
Rio Grande do Norte     $8,060,138.76
Rio Grande do Sul      $21,718,269.65
Rio de Janeiro         $36,534,622.25
Rondônia                $5,970,527.90
Roraima                 $3,932,639.31
Santa Catarina         $11,885,115.66
Sergipe                 $3,770,144.42
São Paulo              $42,132,514.48
Tocantins               $3,032,904.54
Name: Valor da passagem, dtype: float64

In [19]:
import pandas as pd
import os, errno
import numpy as np
from IPython.core.debugger import set_trace

pd.options.display.float_format = '${:,.2f}'.format

current_path   = os.getcwd()
pagamento = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1") 
pagamento.head()

,Identificador do processo de viagem,Código do órgão superior,Nome do órgão superior,Codigo do órgão pagador,Nome do órgao pagador,Código da unidade gestora pagadora,Nome da unidade gestora pagadora,Tipo de pagamento,Valor
0,10011585,-1,Sigiloso,-1,NaN,-11,Sigilosa,DIÁRIAS,"1556,97"
1,10011585,-1,Sigiloso,-1,NaN,-11,Sigilosa,DIÁRIAS,"88,50"
2,10011586,-1,Sigiloso,-1,NaN,-11,Sigilosa,DIÁRIAS,"231,60"
3,10011586,-1,Sigiloso,-1,NaN,-11,Sigilosa,DIÁRIAS,"88,50"
4,10011586,-1,Sigiloso,-1,NaN,-11,Sigilosa,DIÁRIAS,"2485,50"

In [23]:
# group by Nome do órgão superior
import pandas as pd
import os, errno
import numpy as np
from IPython.core.debugger import set_trace

pd.options.display.float_format = '${:,.2f}'.format

current_path    = os.getcwd()
payments        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1") 
format_payments = []

for payment in payments["Valor"]:
    format_payments.append(pd.to_numeric(payment.replace(",",".")))

payments["Valor"] = format_payments
payments.groupby("Nome do órgão superior").sum()["Valor"]

Nome do órgão superior
Advocacia-Geral da União                                        $6,234,694.59
Defensoria Pública da União                                     $1,391,222.76
Ministério da Agricultura, Pecuária e Abastecimento            $80,858,957.78
Ministério da Cidadania                                        $29,637,732.97
Ministério da Ciência, Tecnologia, Inovações e Comunicações    $22,830,616.14
Ministério da Cultura                                             $411,969.27
Ministério da Defesa                                           $24,637,243.83
Ministério da Economia                                        $191,039,476.82
Ministério da Educação                                        $381,287,890.74
Ministério da Justiça e Segurança Pública                     $158,066,729.14
Ministério da Mulher, Família e Direitos Humanos               $19,572,296.03
Ministério da Pesca e Aquicultura                               $4,304,605.25
Ministério da Previdência Social                                $6,160,869.65
Ministério da Saúde                                            $93,527,221.66
Ministério da Transparência e Controladoria-Geral da União      $4,179,801.81
Ministério das Comunicações                                     $1,773,629.17
Ministério das Relações Exteriores                                $396,163.12
Ministério de Minas e Energia                                  $16,124,083.43
Ministério do Desenvolvimento Regional                         $21,133,061.18
Ministério do Meio Ambiente                                    $50,088,750.51
Ministério do Trabalho e Emprego                               $18,180,746.52
Ministério do Turismo                                           $3,535,359.19
Ministério dos Transportes, Portos e Aviação Civil             $52,743,986.86
Presidência da República                                       $35,618,423.66
Sem informação                                                  $1,300,081.39
Sigiloso                                                      $258,091,377.91
Name: Valor, dtype: float64

In [25]:
# group by Nome do órgao pagador
import pandas as pd
import os, errno
import numpy as np
from IPython.core.debugger import set_trace

pd.options.display.float_format = '${:,.2f}'.format

current_path    = os.getcwd()
payments        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1") 
format_payments = []

for payment in payments["Valor"]:
    format_payments.append(pd.to_numeric(payment.replace(",",".")))

payments["Valor"] = format_payments
payments.groupby("Nome do órgao pagador").sum()["Valor"]

Nome do órgao pagador
Advocacia-Geral da União - Unidades com vínculo direto                   $6,234,694.59
Agência Espacial Brasileira                                                $380,344.78
Agência Nacional de Aviação Civil                                       $20,958,123.19
Agência Nacional de Energia Elétrica                                     $2,767,434.42
Agência Nacional de Saúde Suplementar                                    $3,647,613.43
Agência Nacional de Transportes Aquaviários                              $1,549,351.81
Agência Nacional de Transportes Terrestres                               $8,952,587.59
Agência Nacional de Vigilância Sanitária                                $10,799,881.08
Agência Nacional de Águas                                                $3,537,323.03
Agência Nacional do Cinema                                               $1,226,190.20
Agência Nacional do Petróleo, Gás Natural e Biocombustíveis              $6,622,410.02
Agêncial Nacional de Telecomunicações                                    $6,070,532.08
Banco Central do Brasil - Orçamento Fiscal e Seguridade Social          $10,668,151.06
Centro Federal de Educação Tecnológica Celso Suckow da Fonseca           $1,098,090.29
Centro Federal de Educação Tecnológica de Minas Gerais                   $2,224,546.05
Colégio Pedro II                                                         $1,236,747.96
Comissão Nacional de Energia Nuclear                                     $3,273,692.18
Comissão de Valores Mobiliários                                          $2,667,868.71
Companhia Nacional de Abastecimento                                      $1,794,653.55
Conselho Administrativo de Defesa Econômica                                $965,861.89
Conselho Nacional de Desenvolvimento Científico e Tecnológico              $844,631.62
Controladoria-Geral da União                                             $4,179,801.81
Defensoria Pública da União - Unidades com vínculo direto                $1,391,222.76
Departamento Nacional de Infraestrutura de Transportes                  $14,501,835.19
Departamento Nacional de Obras Contra as Secas                           $4,963,466.85
Departamento Nacional de Produção Mineral                                $5,416,848.99
Departamento do Fundo da Marinha Mercante                                  $411,121.46
Empresa Brasileira de Serviços Hospitalares                              $7,515,865.90
Empresa de Planejamento e Logística S.A.                                   $618,168.44
Fundação Alexandre de Gusmão                                               $396,163.12
                                                                             ...
Universidade Federal de Alagoas                                          $4,492,437.98
Universidade Federal de Alfenas                                          $1,031,216.77
Universidade Federal de Campina Grande                                   $2,926,402.77
Universidade Federal de Goiás                                            $8,239,421.10
Universidade Federal de Itajubá                                          $1,429,451.83
Universidade Federal de Juiz de Fora                                     $5,299,287.10
Universidade Federal de Lavras                                           $1,360,079.01
Universidade Federal de Minas Gerais                                     $6,280,650.48
Universidade Federal de Ouro Preto                                       $1,526,121.63
Universidade Federal de Pernambuco                                       $4,494,464.75
Universidade Federal de Roraima                                          $2,115,291.65
Universidade Federal de Santa Catarina                                   $6,960,701.80
Universidade Federal de Santa Maria                                      $6,381,210.98
Universidade Federal de São Paulo                                        $2,155,607.84
Universidade Federal de Viçosa                                           $2,580,893.66
Universidade Federal do Cariri                                             $509,696.40
Universidade Federal do Ceará                                            $4,188,745.35
Universidade Federal do Espírito Santo                                   $5,452,423.39
Universidade Federal do Estado do Rio de Janeiro                           $571,086.29
Universidade Federal do Paraná                                           $5,315,400.51
Universidade Federal do Pará                                             $9,961,809.44
Universidade Federal do Recôncavo da Bahia                               $2,059,306.35
Universidade Federal do Rio Grande                                       $3,134,320.35
Universidade Federal do Rio Grande do Sul                                $7,367,808.80
Universidade Federal do Rio de Janeiro                                   $3,916,772.82
Universidade Federal do Sul e Sudeste do Pará                            $1,434,814.05
Universidade Federal do Triângulo Mineiro                                $1,265,619.93
Universidade Federal dos Vales do Jequitinhonha e Mucuri                 $1,867,551.14
Universidade Tecnológica Federal do Paraná                               $5,149,718.52
Universidade da Integração Internacional da Lusofonia Afro-Brasileira      $853,151.81
Name: Valor, Length: 195, dtype: float64

In [24]:
# group by Nome da unidade gestora pagadora
import pandas as pd
import os, errno
import numpy as np
from IPython.core.debugger import set_trace

pd.options.display.float_format = '${:,.2f}'.format

current_path    = os.getcwd()
payments        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1") 
format_payments = []

for payment in payments["Valor"]:
    format_payments.append(pd.to_numeric(payment.replace(",",".")))

payments["Valor"] = format_payments
payments.groupby("Nome da unidade gestora pagadora").sum()["Valor"]

Nome da unidade gestora pagadora
ADMINISTRACAO GERAL/UFMG                           $546,620.76
AGENCIA ESPACIAL BRASILEIRA/AEB                    $380,344.78
AGENCIA NACIONAL DE AGUAS - COGEF/SAF/ANA        $3,537,323.03
AGENCIA NACIONAL DE AVIACAO CIVIL               $19,169,835.83
AGENCIA NACIONAL DE ENERGIA ELETRICA             $2,767,434.42
AGENCIA NACIONAL DE SAUDE SUPLEMENTAR            $3,647,613.43
AGENCIA NACIONAL DE TELECOMUNICACOES-AM            $454,742.54
AGENCIA NACIONAL DE TELECOMUNICACOES-BA            $234,137.23
AGENCIA NACIONAL DE TELECOMUNICACOES-CE            $335,897.87
AGENCIA NACIONAL DE TELECOMUNICACOES-GO            $459,938.51
AGENCIA NACIONAL DE TELECOMUNICACOES-MG            $255,885.87
AGENCIA NACIONAL DE TELECOMUNICACOES-PA            $588,075.12
AGENCIA NACIONAL DE TELECOMUNICACOES-PE            $296,808.38
AGENCIA NACIONAL DE TELECOMUNICACOES-PR            $302,964.05
AGENCIA NACIONAL DE TELECOMUNICACOES-RJ            $235,794.90
AGENCIA NACIONAL DE TELECOMUNICACOES-RS            $184,808.88
AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE        $2,357,184.52
AGENCIA NACIONAL DE TELECOMUNICACOES-SP            $364,294.21
AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS      $1,549,351.81
AGENCIA NACIONAL DE TRANSPORTES TERRESTRES       $5,542,823.59
AGENCIA NACIONAL DE VIGILANCIA SANITARIA        $10,799,881.08
AGENCIA NACIONAL DO CINEMA                       $1,226,190.20
ALFANDEGA DA RFB AEROP.INTERNAC. RIO JANEIRO        $38,569.50
ALFANDEGA DA RFB AEROP.INTERNAC.DE BRASILIA         $59,447.10
ALFANDEGA DA RFB AEROP.INTERNAC.DE GUARULHOS       $279,451.07
ALFANDEGA DA RFB AEROP.INTERNAC.DE SALVADOR         $56,068.49
ALFANDEGA DA RFB AEROP.INTERNAC.DE VIRACOPOS       $238,968.60
ALFANDEGA DA RFB AEROP.INTERNAC.PINTO MARTINS       $24,834.97
ALFANDEGA DA RFB EM FOZ DO IGUACU                  $634,933.20
ALFANDEGA DA RFB EM SANTANA DO LIVRAMENTO           $86,342.15
                                                     ...
UNIVERSIDADE FEDERAL DO CARIRI                     $509,696.40
UNIVERSIDADE FEDERAL DO CEARA                    $4,188,745.35
UNIVERSIDADE FEDERAL DO ESPIRITO SANTO           $5,446,751.94
UNIVERSIDADE FEDERAL DO PARA                     $9,780,770.28
UNIVERSIDADE FEDERAL DO PARANA                   $5,305,928.80
UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA       $2,059,306.35
UNIVERSIDADE FEDERAL DO RIO DE JANEIRO           $3,916,772.82
UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG        $3,134,320.35
UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL        $7,367,808.80
UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA    $1,434,814.05
UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO        $1,265,619.93
UNIVERSIDADE FEDERAL FLUMINENSE                  $1,312,332.69
UNIVERSIDADE FEDERAL RURAL DA AMAZONIA           $2,774,109.68
UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO         $3,854,479.09
UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO     $4,454,097.31
UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN    $1,539,495.74
UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA       $1,007,495.14
UTFPR - CAMPUS APUCARANA                           $166,689.31
UTFPR - CAMPUS CAMPO MOURAO                        $362,393.69
UTFPR - CAMPUS CORNELIO PROCOPIO                   $266,178.61
UTFPR - CAMPUS CURITIBA                            $977,235.96
UTFPR - CAMPUS DOIS VIZINHOS                       $210,135.59
UTFPR - CAMPUS GUARAPUAVA                           $76,651.80
UTFPR - CAMPUS LONDRINA                            $222,332.45
UTFPR - CAMPUS MEDIANEIRA                          $580,193.27
UTFPR - CAMPUS PATO BRANCO                         $530,715.18
UTFPR - CAMPUS PONTA GROSSA                        $337,644.50
UTFPR - CAMPUS TOLEDO                              $189,058.28
UTFPR CAMPUS SANTA HELENA                           $64,150.66
UTFPR- CAMPUS FRANCISCO BELTRAO                    $158,844.08
Name: Valor, Length: 1513, dtype: float64

In [26]:
# group by Tipo de pagamento
import pandas as pd
import os, errno
import numpy as np
from IPython.core.debugger import set_trace

pd.options.display.float_format = '${:,.2f}'.format

current_path    = os.getcwd()
payments        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1") 
format_payments = []

for payment in payments["Valor"]:
    format_payments.append(pd.to_numeric(payment.replace(",",".")))

payments["Valor"] = format_payments
payments.groupby("Tipo de pagamento").sum()["Valor"]

Tipo de pagamento
DIÁRIAS                          $962,030,001.12
PASSAGEM                         $517,107,392.13
RESTITUIÇÃO                        $3,989,598.13
Name: Valor, dtype: float64