In [14]:
import datetime
import urllib.request
import os, errno
import zipfile as zp
import os, errno
import datetime as dt
import pandas as pd
import os, errno
import numpy as np
from IPython.core.debugger import set_trace
import matplotlib.pyplot as plt

In [2]:
current_path = os.getcwd()
try:
    os.makedirs(f'{current_path}/csv/')
except OSError as e:
    if e.errno != errno.EEXIST:
        raise

In [ ]:
# making download since 2013 for actual date
for year in range(2013, datetime.datetime.now().year + 1):
    if not os.path.exists(f'{current_path}/csv/{year}.zip'):
        url = f'http://www.portaltransparencia.gov.br/download-de-dados/viagens/{year}'
        urllib.request.urlretrieve(url, f'{current_path}/csv/{year}')
        print(f'Downloading for {year} was complete with success.')

In [ ]:
# extract and remove zip file
for year in range(2013, dt.datetime.now().year + 1):
    print(f'unzip {year} file.')
    with zp.ZipFile(f'{current_path}/csv/{year}', 'r') as zip_ref:
        zip_ref.extractall(f'{current_path}/csv/{year}_extract')
        print(f'unzip {year} was successful.')
        os.remove(f'{current_path}/csv/{year}')

In [3]:
passages_df = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Passagem.csv', sep=';', encoding = "ISO-8859-1")
passages_df.head()

,Identificador do processo de viagem,Meio de transporte,País - Origem ida,UF - Origem ida,Cidade - Origem ida,País - Destino ida,UF - Destino ida,Cidade - Destino ida,País - Origem volta,UF - Origem volta,Cidade - Origem volta,Pais - Destino volta,UF - Destino volta,Cidade - Destino volta,Valor da passagem,Taxa de serviço
0,10011602,Aéreo,Brasil,Distrito Federal,Brasília,Brasil,Rio de Janeiro,Rio de Janeiro,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"570,45",",00"
1,10011602,Aéreo,Brasil,Rio de Janeiro,Rio de Janeiro,Brasil,Distrito Federal,Brasília,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"602,47",",00"
2,10011617,Aéreo,Brasil,Rio de Janeiro,Rio de Janeiro,Brasil,São Paulo,Presidente Prudente,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"941,47",",00"
3,10011617,Aéreo,Brasil,São Paulo,Presidente Prudente,Brasil,Rio de Janeiro,Rio de Janeiro,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"980,94",",00"
4,10011618,Aéreo,Brasil,Pará,Belém,Brasil,Distrito Federal,Brasília,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"885,57",",00"

In [5]:
passages_df.columns = [
                        'PassageId', 'MeanOfTransportOneWay', 'CountryOriginOneWay', 'DistrictOriginOneWay', 
                        'CityOriginOneWay', 'CountryDestinyOneWay', 'DistrictDestinyOneWay', 'CityDestinyOneWay',
                        'CountryOriginReturn', 'DistrictOriginReturn', 'CityOriginReturn', 'CountryDestinyReturn',
                        'DistrictDestinyReturn', 'CityDestinyReturn', 'ValueOfPassage', 'ValueOfFare']

total_null = passages_df.isnull().sum()
total_records = passages_df.shape[0]

print(f'Total Records: {total_records}, Total columns: {passages_df.shape[1]}')

passages_info = pd.DataFrame(passages_df.dtypes).T.rename(index={0:'Column type'})
passages_info = passages_info.append(pd.DataFrame(total_null).T.rename(index={0: 'Null Values'}))
passages_info = passages_info.append(pd.DataFrame(round(total_null/total_records * 100, 2)).T.rename(index={0: 'Null Values (%)'}))

passages_info

Total Records: 734834, Total columns: 16

,PassageId,MeanOfTransportOneWay,CountryOriginOneWay,DistrictOriginOneWay,CityOriginOneWay,CountryDestinyOneWay,DistrictDestinyOneWay,CityDestinyOneWay,CountryOriginReturn,DistrictOriginReturn,CityOriginReturn,CountryDestinyReturn,DistrictDestinyReturn,CityDestinyReturn,ValueOfPassage,ValueOfFare
Column type,int64,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object
Null Values,0,0,0,15499,0,0,14893,0,0,0,0,0,0,0,0,0
Null Values (%),0,0,0,2.11,0,0,2.03,0,0,0,0,0,0,0,0,0

In [6]:
passages_df.head()

,PassageId,MeanOfTransportOneWay,CountryOriginOneWay,DistrictOriginOneWay,CityOriginOneWay,CountryDestinyOneWay,DistrictDestinyOneWay,CityDestinyOneWay,CountryOriginReturn,DistrictOriginReturn,CityOriginReturn,CountryDestinyReturn,DistrictDestinyReturn,CityDestinyReturn,ValueOfPassage,ValueOfFare
0,10011602,Aéreo,Brasil,Distrito Federal,Brasília,Brasil,Rio de Janeiro,Rio de Janeiro,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"570,45",",00"
1,10011602,Aéreo,Brasil,Rio de Janeiro,Rio de Janeiro,Brasil,Distrito Federal,Brasília,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"602,47",",00"
2,10011617,Aéreo,Brasil,Rio de Janeiro,Rio de Janeiro,Brasil,São Paulo,Presidente Prudente,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"941,47",",00"
3,10011617,Aéreo,Brasil,São Paulo,Presidente Prudente,Brasil,Rio de Janeiro,Rio de Janeiro,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"980,94",",00"
4,10011618,Aéreo,Brasil,Pará,Belém,Brasil,Distrito Federal,Brasília,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,Sem Informação,"885,57",",00"

In [7]:
passages_info2 = {}

for column in passages_df:
    passages_info2[column] = len(passages_df.loc[passages_df[column] == 'Sem Informação'])
    
passages_info2

/home/dev/.local/lib/python3.6/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

{'PassageId': 0,
 'MeanOfTransportOneWay': 0,
 'CountryOriginOneWay': 0,
 'DistrictOriginOneWay': 0,
 'CityOriginOneWay': 0,
 'CountryDestinyOneWay': 0,
 'DistrictDestinyOneWay': 0,
 'CityDestinyOneWay': 0,
 'CountryOriginReturn': 734834,
 'DistrictOriginReturn': 734834,
 'CityOriginReturn': 734834,
 'CountryDestinyReturn': 734834,
 'DistrictDestinyReturn': 734834,
 'CityDestinyReturn': 734834,
 'ValueOfPassage': 0,
 'ValueOfFare': 0}

In [9]:
passages_df = passages_df.drop('CountryOriginReturn', axis=1)
passages_df = passages_df.drop('DistrictOriginReturn', axis=1)
passages_df = passages_df.drop('CityOriginReturn', axis=1)
passages_df = passages_df.drop('CountryDestinyReturn', axis=1)
passages_df = passages_df.drop('CityDestinyReturn', axis=1)
passages_df = passages_df.drop('DistrictDestinyReturn', axis=1)
passages_df = passages_df.drop('ValueOfFare', axis=1)

In [10]:
passages_df.head(10)

,PassageId,MeanOfTransportOneWay,CountryOriginOneWay,DistrictOriginOneWay,CityOriginOneWay,CountryDestinyOneWay,DistrictDestinyOneWay,CityDestinyOneWay,ValueOfPassage
0,10011602,Aéreo,Brasil,Distrito Federal,Brasília,Brasil,Rio de Janeiro,Rio de Janeiro,"570,45"
1,10011602,Aéreo,Brasil,Rio de Janeiro,Rio de Janeiro,Brasil,Distrito Federal,Brasília,"602,47"
2,10011617,Aéreo,Brasil,Rio de Janeiro,Rio de Janeiro,Brasil,São Paulo,Presidente Prudente,"941,47"
3,10011617,Aéreo,Brasil,São Paulo,Presidente Prudente,Brasil,Rio de Janeiro,Rio de Janeiro,"980,94"
4,10011618,Aéreo,Brasil,Pará,Belém,Brasil,Distrito Federal,Brasília,"885,57"
5,10011618,Aéreo,Brasil,Distrito Federal,Brasília,Brasil,Pará,Belém,"1372,55"
6,10011619,Aéreo,Brasil,Paraíba,João Pessoa,Brasil,Mato Grosso,Cuiabá,"536,95"
7,10011619,Aéreo,Brasil,Mato Grosso,Cuiabá,Brasil,Paraíba,João Pessoa,"1381,95"
8,10011623,Aéreo,Brasil,Paraná,Foz do Iguaçu,Brasil,Paraná,Curitiba,"156,85"
9,10011623,Aéreo,Brasil,Paraná,Curitiba,Brasil,Paraná,Foz do Iguaçu,"367,47"

In [11]:
passages_df.ValueOfPassage.mean

<bound method Series.mean of 0          570,45
1          602,47
2          941,47
3          980,94
4          885,57
           ...
734829    1236,06
734830     456,77
734831     433,57
734832     820,86
734833     295,89
Name: ValueOfPassage, Length: 734834, dtype: object>

In [ ]:
# collecting info of pagamento.csv

pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1").head()

In [ ]:
pd.read_csv(f'{current_path}/csv/2014_extract/2014_Trecho.csv', sep=';', encoding = "ISO-8859-1").head()

In [ ]:
passagem = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Passagem.csv', sep=';', encoding = "ISO-8859-1")
pagamento = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1")
trecho = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Trecho.csv', sep=';', encoding = "ISO-8859-1")

# firstly - get 'idenficador do processo de viagem' in trecho.cvs, and after search in passagem.csv and pagamento.csv
# second - Use 'Origem Data' for compare the time
# second - Compare 'Origem País', 'Origem UF' and 'Origem Cidade' to collect information for anothers csv
trecho.head()
# passagem[passagem['Identificador do processo de viagem'] == 10011602]

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format
tickets        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Passagem.csv', sep=';', encoding = "ISO-8859-1")
format_tickets = []

for ticket in tickets["Valor da passagem"]:
    format_tickets.append(pd.to_numeric(ticket.replace(",",".")))

tickets["Valor da passagem"] = format_tickets
tickets.groupby("Meio de transporte").sum()["Valor da passagem"]

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format

current_path   = os.getcwd()
tickets        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Passagem.csv', sep=';', encoding = "ISO-8859-1")
format_tickets = []

for ticket in tickets["Valor da passagem"]:
    format_tickets.append(pd.to_numeric(ticket.replace(",",".")))

tickets["Valor da passagem"] = format_tickets
tickets.groupby("UF - Origem ida").sum()["Valor da passagem"]

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format
tickets        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Passagem.csv', sep=';', encoding = "ISO-8859-1")
format_tickets = []

for ticket in tickets["Valor da passagem"]:
    format_tickets.append(pd.to_numeric(ticket.replace(",",".")))

tickets["Valor da passagem"] = format_tickets
tickets.groupby("UF - Destino ida").sum()["Valor da passagem"]

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format
pagamento = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1") 
pagamento.head()

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format
payments        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1") 
format_payments = []

for payment in payments["Valor"]:
    format_payments.append(pd.to_numeric(payment.replace(",",".")))

payments["Valor"] = format_payments
payments.groupby("Nome do órgão superior").sum()["Valor"]

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format
payments        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1") 
format_payments = []

for payment in payments["Valor"]:
    format_payments.append(pd.to_numeric(payment.replace(",",".")))

payments["Valor"] = format_payments
payments.groupby("Nome do órgao pagador").sum()["Valor"]

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format
payments        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1") 
format_payments = []

for payment in payments["Valor"]:
    format_payments.append(pd.to_numeric(payment.replace(",",".")))

payments["Valor"] = format_payments
payments.groupby("Nome da unidade gestora pagadora").sum()["Valor"]

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format
payments        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1") 
format_payments = []

for payment in payments["Valor"]:
    format_payments.append(pd.to_numeric(payment.replace(",",".")))

payments["Valor"] = format_payments
payments.groupby("Tipo de pagamento").sum()["Valor"]

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format
payments        = pd.read_csv(f'{current_path}/csv/2014_extract/2014_Pagamento.csv', sep=';', encoding = "ISO-8859-1") 
format_payments = []

for payment in payments["Valor"]:
    format_payments.append(pd.to_numeric(payment.replace(",",".")))

payments["Valor"] = format_payments
payments.groupby("Tipo de pagamento").std()["Valor"]